*{
	padding: 2;
	margin: 2;
	text-align: center;
}
body{

}
h1{
	font-family: Helvetica;
}
.main-container{
	border: 4px solid;/*aqui falta el color*/
	border-radius: 10px;
	margin: 2rem;
	font-weight: bold;

}
p{
	font-size: 13pt;
	font-family: Arial;
}
nav, section, footer, article, aside{
	border: 2px; /*aqui falta el color*/
	margin: 1rem;
	border-radius: 10px;
	padding: 1rem;
}
.seccion-index{
	width: 1200px;
	border-radius: 10px;
	text-align: center;
	margin-top: 7rem;
}
.seccion-empresa{

}
header{
	color: #FF0000;
	font-size: 30pt;
}
article{
	width: 400px;
	display: inline-block;
	height: 415px;
	background-color: #84A98C;
	font-size: 15pt;
}
aside{
	background-color:#000000;
	display: inline-block;
	float: right;
}
.navegacion{
	align-items: center;
}
table{
	margin-top: 25px;
	border: 5px solid;
	border-color: #95D9C3;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
	font color: #744253;
}
tr{
	width: 300px;
}
th{
	width: 200px;
}
strong{
	font-size: 50pt;
}
textarea, .texto{
	width: 20rem;
	height: 2rem;
}
.boton{
    color:black;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-weight: bold;
    font-size: 1em;
    height: 2.4em;
    padding: 1em;
    padding-top: 0.5em;
    width: 223px;
    font-family: Helvetica;
}

.boton:hover{
    color:white;
    background-color: black;
    border: 1px solid black;
}
.res{
	margin-bottom: 40px;
}